body
        {
            margin: 0;
            padding: 0;
            display: flex;  
            flex-direction: column;   
        }
        .container
        {
            height: 49rem;
            width: 100%;
            background-image: url(../images/contact-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .blurrdiv
        {
            height: 37rem;
            width: 60rem;
            border: 1px solid black;
            margin: 9rem 17rem;
            background: url(../images/cover-bg.jpg);
            backdrop-filter: blur(3px);
            background-repeat: no-repeat;
            background-size: cover;
            justify-content: center;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        }
        .blurrdiv .form
        {
            display: flex;
            height: 37rem;
            width: 30rem;
            margin: 3rem 15rem;
            flex-direction: column;
        }
        h1
        {
            font-size: 2.70rem;
            text-decoration: underline;
            text-align: center;
            margin-bottom: 3rem;
        }
        .form .username, .type, .btn
        {
            height: 2.30rem;
            width: 17rem;
            margin: 0 6rem;
            text-align: center;
            font-size: 1rem;
            margin-top: 20px;
            padding: 2px;
            background: transparent;
            background-color: rgb(51, 31, 0, 0.1);
            border: 1px solid black;
            font-weight: bold;
        }
        .type
        {
            margin-bottom: 20px;
            background-color: rgb(51, 31, 0, 0.1);
        }
        .form .type
        {
            width: 17.50rem;
            background-color: rgb(51, 31, 0, 0.1);
        }
        .form .message
        {
            width: 24rem;
            height: 9rem;
            margin: 0 2.60rem;
            text-align: center;
            padding-top: 1rem;
            background-color: rgb(51, 31, 0, 0.1);
            border: 1px solid black;
            font-size: 1rem;
            font-weight: bold;
        }
        .form .btn
        {
            height: 3rem;
            width: 9rem;
            border: 1.50px solid black;
            border-radius: 50px;
            transform: translateX(50%);
            background: transparent;
            cursor: pointer;
            transition: 0.4s ease-in-out;
        }
        .btn:hover
        {
            background-color: rgb(51, 31, 0, 0.1);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        }