body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container
{
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    overflow: hidden;
}

/* Home section design */
.container .home-bg
{
    margin: 2rem;
    height: 38rem;
    width: 90.20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/template.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: cover-img 9s infinite ease-in-out;
}
@keyframes cover-img 
{
    0%
    {
        background-image: url(../images/cover2.jpeg);
    }
    50%
    {
        background-image: url(../images/cover1.jpg);
    }
    100%
    {
        background-image: url(../images/cover3.png);
    }
}
.home-bg .home-intro
{
    width: 35rem;
    background-color: rgba(56, 56, 56, 0.5);
    text-align: center;
    font-size: 1.40rem;
    color: white;
    margin-left: 29rem;
}

/* about section design */
.container .about
{
    margin: 2rem;
    height: 36rem;
    width: 90.20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about .about-img
{
    height: 30rem;
    width: 43rem;
    border: 3px solid rgb(75, 151, 75);
    background-image: url(../images/agro.jpg);
    margin-left: 2rem;
    background-size: cover;
    border-radius: 0 3rem;
    background-position: center;
}

.about .about-info
{
    height: 30rem;
    width: 42rem;
    margin-left: 1rem;
    padding: 3rem;
    text-align: center;
}
.about-info h1
{
    color: green;
    text-decoration: underline;
    font-size: 2.80rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.about-info p
{
    font-size: 1.50rem;
}

/* services section */
.container .services
{
    margin: 2rem;
    margin-top: -1rem;
    height: max-content;
    width: 90.20rem;
    display: flex;
    flex-direction: column;
}
.services .service-img
{
    width: 84rem;
    height: 31rem;
    margin-left: 1.80rem;
    background-image: url(../images/service-img.jpeg);
    border-radius: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid royalblue;
}
.services .cards
{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    margin-top: -5rem;
    justify-content: center;
    animation: service-cards 4s infinite cubic-bezier(0.4, 0, 0.4, 1);
}
.cards .actual-card
{
    width: 17rem;
    height: max-content;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-right: 6rem;
    box-shadow: 0px 7px 29px 0px rgba(63, 63, 66, 0.2);
}
.actual-card .buy-card,
.actual-card .sell-card,
.actual-card .rent-card
{
    background-color: rgba(230, 230, 229, 0.93);
    width: 18rem;
    height: 22rem;
    font-size: 1.10rem;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 8px;
}
.buy-card h1,
.sell-card h1,
.rent-card h1
{
    font-size: 1.65rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5.30px;
}
.card-img
{
    height: 5.50rem;
    width: 6rem;
}
.buy-card button,
.sell-card button,
.rent-card button
{
    height: 2.50rem;
    width: 7.50rem;
    margin-top: 2rem;
    font-size: 1.05rem;
    border: 1.20px solid black;
    font-weight: bold;
    color: green;
    transition: 0.4s;
}
.buy-card button:hover,
.sell-card button:hover,
.rent-card button:hover
{
    transform: scale(1.2);
    background-color: green;
    color: white;
    cursor: pointer;
}

@keyframes service-cards 
{
    0%
    {
        margin-left: -70rem;
    }
    30%
    {
        margin-left: 0rem;
    }
    75%
    {
        margin-left: 0rem;
    }
    100%
    {
        margin-left: 90rem;
    }
}

/* Special Section */
.container .special-services
{
    height: 40rem;
    width: 90.20rem;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}
.special-services .heading p,
.services .heading p
{
    height: 4rem;
    width: 28rem;
    text-align: center;
    font-size: 2.70rem;
    margin-left: 30rem;
    color: green;
    text-decoration: underline;
}
.special-services .special-cards
{
    height: 40rem;
    width: 90.20rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.special-cards .Plant-health,
.special-cards .farm-tourist
{
    height: 35rem;
    width: 37.6rem;
    margin-top: 3rem;
    background-position: center;
}
.Plant-health{
    background-image: url(../images/plant-consultane.png);
    
}
.farm-tourist
{
    margin-left: 5rem;
    background-image: url(../images/farm-garden.jpeg);
}
.head p
{
    height: 3.10rem;
    width: 20rem;
    font-size: 1.60rem;
    text-align: center;
    font-weight: 490;
    margin-top: 1.30rem;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10rem;
    border-radius: 40px;
    background-color: rgb(236, 237, 238);
}
.Plant-health .info,
.farm-tourist .info
{
    width: 37.6rem;
    height: 28rem;
    margin-top: 2rem;
    color: white;
    background-color: rgba(71, 71, 67, 0.5) !important;
}
.info p
{
    text-align: center;
    transform: translateY(10rem);
    font-size: 1.20rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 5rem;
}
.info .health-btn
{
    border: 1.50px solid white;
    background: transparent;
    padding: 8px;
    font-size: 1.30rem;
    margin-top: 14rem;
    margin-left: 13rem;
    transition: 0.4s;
    color: white;
}
.info .health-btn:hover
{
    transform: scale(1.2);
    color: white;
    background-color: green;
    text-decoration: underline;
    cursor: pointer;
}
.container .special-section2
{
    height: 36rem;
    width: 90.20rem;
    margin-top: 5rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.special-section2 .animal-health,
.special-section2 .construction
{
    height: 35rem;
    width: 37.6rem;
    margin-bottom: 1rem;
    background-position: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.animal-health
{
    background-image: url(../images/animal-consultant.jpg);
}
.construction
{
    background-image: url(../images/construction-serv.jpeg);
    margin-left: 5rem;
}
.animal-health .infosection,
.construction .infosection
{
    width: 37.6rem;
    height: 28rem;
    margin-top: 2rem;
    color: white;
    background-color: rgba(71, 71, 67, 0.5) !important;
    font-size: 1.20rem;
    text-align: center;
    font-weight: 490;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.infosection p
{
    padding-top: 8rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
.infosection .animal-btn,
.infosection .construct-btn 
{
    border: 1.50px solid white;
    background: transparent;
    padding: 8px;
    margin-top: 3rem;
    font-size: 1.30rem;
    transition: 0.4s;
    color: white;
}
.infosection .construct-btn a
{
    color: white;
}
.animal-btn a
{
    color: white;
}
.health-btn a
{
    color: white;
}
.infosection .animal-btn:hover,
.infosection .construct-btn:hover 
{
    transform: scale(1.2);
    color: white;
    background-color: green;
    text-decoration: underline;
    cursor: pointer;
}
